.next
.netlify

.env
.env.build
.env.local
.env.production

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.tsbuildinfo

/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map

.tool-versions
