@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #666e82;
  --primary-200: #515971;
  --primary-300: #3b455f;
  --primary-400: #25304d;
  --primary-500: #192038;
  --primary-600: #1e263e;
  --primary-700: #1a2236;
  --primary-800: #161d2e;
  --primary-900: #131827;

  --accent-100: #dd789c;
  --accent-200: #d8658e;
  --accent-300: #d35180;
  --accent-400: #ce3e72;
  --accent-500: #b22c5d;
  --accent-600: #a5325b;
  --accent-700: #902b50;
  --accent-800: #7c2544;
  --accent-900: #671f39;

  --secondary-100: #e6fffa;
  --secondary-200: #b2f5ea;
  --secondary-300: #81e6d9;
  --secondary-400: #4fd1c5;
  --secondary-500: #38b2ac;
  --secondary-600: #319795;
  --secondary-700: #2c7a7b;
  --secondary-800: #285e61;
  --secondary-900: #234e52;

  --neutral-100: #f7fafc;
  --neutral-200: #edf2f7;
  --neutral-300: #e2e8f0;
  --neutral-400: #cbd5e0;
  --neutral-500: #a0aec0;
  --neutral-600: #718096;
  --neutral-700: #4a5568;
  --neutral-800: #2d3748;
  --neutral-900: #1a202c;

  --light-100: #ffffff;
}

body {
  color: #2d3748;
}

@layer utilities {
  .relative-width {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-right: 0px;
  }

  .fixed-screen-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .markdown {
    @apply max-w-none overflow-x-hidden;
    @apply lg:prose-lg text-neutral-800 mx-auto pb-10 prose-h2:text-neutral-800  prose-h3:text-neutral-800 prose-h4:text-neutral-800;
    @apply prose-blockquote:text-neutral-700 prose-a:text-accent-600;
    @apply prose-code:text-accent-600 prose-code:bg-neutral-200 prose-pre:bg-neutral-200 prose-code:p-1 prose-code:rounded;
    @apply prose-img:rounded-sm;
    @apply prose-strong:font-bold prose-strong:text-neutral-800;
    @apply prose-li:list-disc prose-li:text-neutral-800
  }
}
