@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #2d3748;
    background-color:white;
}

@layer utilities {
    .relative-width {
        width: 100%;
        left: 0;
        right: 0;
        margin-left: 0px;
        margin-right: 0px;
    }

    .fixed-screen-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
